.dcardsWrapper {
  display: flex;
  background-color: hsl(0, 0%, 93%);
  margin: 5px 5rem;
  margin-bottom: 10px;
  padding: 0.5rem;
  border-radius: 10px;
  justify-content: center;
}

.dcards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 0 2rem;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}

.dcard {
  border: 0px solid rgb(66, 12, 54);
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
  width: 260px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 2px;
  align-items: center;
  text-align: center;
}

.dcard img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.dcard .text {
  margin-top: 2px;
  padding: 0;
  text-align: left;
  line-height: 0.8;
}

.dbtnContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dcardBtn {
  background-color: rgb(66, 12, 54);
  padding: 0.5em 1em;
  border: 0;
  color: white;
  width: 80px;
  border-radius: 10px;
  text-decoration: none;
  margin: 5px 5px;
  font-size: 1rem;
}

.dlabel {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 1px;
}

/* Additional styling for better alignment */
.dcards:first-child {
  justify-content: flex-start;
}

.dcards:last-child {
  justify-content: flex-end;
}
